<script type="text/javascript" src="__STATIC__/layui/jquery-3.3.1.js"></script>
<form class="layui-form layui-form-pane" action="">
  
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-inline">
      <input type="text" name="admin_name" lay-verify="required|admin_name" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" id="pwd" name="admin_pwd" placeholder="请输入密码" lay-verify="required|pass" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">请务必填写用户名,填写6到12位密码</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-inline">
      <input type="password"  name="repwd" lay-verify="required|repass" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">验证手机</label>
      <div class="layui-input-inline">
        <input type="tel" name="admin_tel" lay-verify="required|phone" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">验证邮箱</label>
      <div class="layui-input-inline">
        <input type="text" name="admin_email" lay-verify="email" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
  <div class="layui-form-item" pane="">
    <label class="layui-form-label">审核</label>
    <div class="layui-input-block">
      <input type="radio" name="status" value="1" title="正常" checked="">
      <input type="radio" name="status" value="0" title="禁用">
    </div>
  </div>
  <div class="layui-form-item">
    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
  </div>
</form>
<script>
layui.use(['form'], function(){
  var form = layui.form
  ,layer = layui.layer
  
  
  //自定义验证规则
  form.verify({
    admin_name: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [
      /^[\S]{6,12}$/
      ,'密码必须6到12位，且不能出现空格'
    ]
    ,repass: function (value){
      var pwd = $('#pwd').val();
      if(value != pwd){
        return "两次密码不一致！";
      }
    }
    
  });
  
  
  //监听提交
  form.on('submit(demo1)', function(data){
    /*layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })*/
    $.post(
      '{:url("admin/admin_add")}', 
      data.field,
      function(msg) {
        if(msg.code !=200){
          layer.msg(msg.font,{icon:msg.code});
        }else{
          window.location.href="{:url('admin/admin_list')}";
        }
        
      }
      , 'json');
    return false;
  });
  
});
</script>